[data-url*=".framaboard.org/"] #framanav_container {

  @import '../../lib/bootstrap/css/bootstrap.min';
  @import '../nav';

  /* Dropdown */
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  #framanav {
    .dropup,
    .dropdown {
      position: relative;
    }

    .dropdown-toggle:focus {
      padding: 7px 4px 5px 10px !important
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      -webkit-background-clip: padding-box;
              background-clip: padding-box;
    }

    .dropdown-menu.pull-right {
      right: 0;
      left: auto;
    }

    .dropdown-menu .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }

    .dropdown-menu > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      white-space: nowrap;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }

    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
      color: #ffffff;
      text-decoration: none;
      outline: 0;
      background-color: #337ab7;
    }

    .dropdown-menu > .disabled > a,
    .dropdown-menu > .disabled > a:hover,
    .dropdown-menu > .disabled > a:focus {
      color: #777777;
    }

    .dropdown-menu > .disabled > a:hover,
    .dropdown-menu > .disabled > a:focus {
      text-decoration: none;
      background-color: transparent;
      background-image: none;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
      cursor: not-allowed;
    }
    .open > .dropdown-menu {
      display: block;
    }
    .open > a {
      outline: 0;
    }
    .dropdown-menu-right {
      left: auto;
      right: 0;
    }
    .dropdown-menu-left {
      left: 0;
      right: auto;
    }
    .dropdown-header {
      display: block;
      padding: 3px 20px;
      font-size: 12px;
      line-height: 1.42857143;
      color: #777777;
      white-space: nowrap;
    }

    .dropdown-backdrop {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 990;
    }

    .pull-right > .dropdown-menu {
      right: 0;
      left: auto;
    }
    .dropup .caret,
    .navbar-fixed-bottom .dropdown .caret {
      border-top: 0;
      border-bottom: 4px dashed;
      border-bottom: 4px solid \9;
      content: "";
    }

    .dropup .dropdown-menu,
    .navbar-fixed-bottom .dropdown .dropdown-menu {
      top: auto;
      bottom: 100%;
      margin-bottom: 2px;
    }
    @media (min-width: 768px) {
      .navbar-right {
        .dropdown-menu {
          left: auto;
          right: 0;
        }

        .dropdown-menu-left {
          left: 0;
          right: auto;
        }
      }
    }

    .nav > li > a .fa,
     a:hover .fa {
      color: #fff;
    }
  }
}

[data-url*=".framaboard.org/"] {
  /*----------------------------------------------------------------------*/
  /* Fix après Bootstrap */
  #popover-container {
      top: 42px;
  }

  #popover-content {
      top: 60px;
      max-height: calc(100% - 110px);
  }

  /* Button color from Framacss */
  a.btn-red,
  .btn-red {  /* = btn-danger */
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: #CC2D18;
    border-color: #CC2D18;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #B82E12;
      border-color: #B82E12;
    }
  }

  a.btn-blue, /* = btn-primary */
  .btn-blue {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: #6A5687;
    border-color: #6A5687;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #635182;
      border-color: #635182;
    }

    &:disabled {
      color: #777;
      text-shadow: none;
      border: 1px solid #ccc;
      background: #f7f7f7;
    }
  }

  a:focus {
    border: none;
  }

  #ui-datepicker-div {
    z-index: 1002 !important; /* Above the nav */
  }

  #modal-box {
    max-height: calc(100% - 65px);
    top: 60px;
  }
}

