/* Cartes publiques */
[data-url*="://framacarte.org/"][data-inframe="false"] .map_detail {
    .leaflet-top {
        top: 42px;
    }

    #storage-alert-container {
        top: 42px;
    }

    #storage-tooltip-container {
        top: 102px;
    }
}

/* Cartes mode édition */
[data-url*="://framacarte.org/"][data-inframe="false"] .storage-edit-enabled {
    .storage-main-edit-toolbox {
        top:42px;
    }

    .leaflet-top {
        top: 90px;
    }

    #storage-ui-container {
        top: 88px;
    }
}
