[data-url*="://framagenda.org"],
[data-url*="://framablog.org"],
[data-url*="://framabook.org"],
[data-url*="://framabookin.org"],
[data-url*="://framadvd.org"],
[data-url*="://framadrive.org"],
[data-url*="://framasoft.org"],
[data-url*="://framastats.org"],
[data-url*="://framateam.org"],
[data-url*="://framavox.org"],
[data-url*="://framazic.org"],
[data-url*="://contact.framasoft.org"],
[data-url*="://status.framasoft.org"],
[data-url*="/nav/html/"],
[data-url$="nav/test/verbose-fixed.html"] {
    body {
        padding-top: 42px;
    }

    #framanav_container {
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    #nav-alert.alert {
        margin-bottom: 42px;
    }
}
