[data-url*="://framaphonie.org"] {
    #framanav ul li {
        list-style:none !important;
    }

    #nav-alert.alert {
        margin-bottom:0;
    }
    #nav-alert.alert p {
        margin:0;
    }

    .bigbutton {
        line-height:10px !important;
    }
}
