<div class="well">
    <h1>Framablog</h1>

    <p>Le Framablog est propulsé par <a href="https://wordpress.org/">Wordpress</a>.</p>

    <p>Sauf mention contraire, comme certaines traductions et documents multimédias, sa licence est la <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons By-Sa</a>.</p>
</div>
