<div class="well">
    <h1>Bastard, Inc</h1>

    <p>Dessins : <a href="http://ptilouk.net">Gee</a><br />
    Textes : <a href="http://pouhiou.com">Pouhiou</a></p>

    <p>Ce blog et ses contenus sont directement élevés par leurs auteurs dans le <a href="http://creativecommons.org/publicdomain/zero/1.0/">Domaine Public Vivant</a>. À vous de vous en emparer.</p>

    <p>Image de couverture et d'entête : versions dérivées de <a href="https://secure.flickr.com/photos/thomasleuthard/8253943837/">Business as usual...</a> (CC By Thomas Leuthard)</p>
</div>
