<div class="well">
    <h1>Framadrive</h1>
    <p><b class="violet">Frama</b><b class="vert">drive</b> est animé par le logiciel libre <a href="https://owncloud.org">Owncloud</a>.<br>
    Le code source du thème conçu par JosephK se trouve sur
    <a href="https://git.framasoft.org/framasoft/framadrive"><b class="violet">Frama</b><b class="vert">git</b></a>.</p>
</div>
