<div class="well">
    <h1>Framalab</h1>
    <p>Framalab est le laboratoire de projets de Framasoft. Vous y trouverez de nombreux sites web développés - plus ou moins récemment - par Framasoft.</p>
    <p>Ces derniers peuvent être relativement expérimentaux, c'est pourquoi ils ne sont pas nécessairement listés parmi <a href="https://fr.wikipedia.org/wiki/Framasoft">les principaux projets du réseau Framasoft</a>.</p>
    <p>Réalisation du site : Cyrille Largillier et Pierre-Yves Gosset, <a href="http://tympanus.net/codrops/2012/04/09/direction-aware-hover-effect-with-css3-and-jquery/">Codrops pour l'inspiration générale de la page (HTML/JS)</a>.</p>
</div>
