<div class="well">
    <h1>Framapack</h1>
    <p>Framapack est un logiciel libre réalisé par Simon Leblanc composé :</p>
    <ul>
        <li>d'un site Internet sous licence libre <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU/AGPL v3</a>.</li>
        <li>d'un installateur sous licence libre <a href="https://www.gnu.org/licenses/gpl-2.0.html">GNU/GPL v2</a>.</li>
    </ul>
    <p>Les sources de Framapack sont disponibles selon les termes de leur licence respective sur <a href="https://git.framasoft.org/framasoft/framapack/">notre dépôt git</a>.</p>
    <p>L'image de téléchargement est une œuvre de <a href="http://www.futurosoft.es/">Sergio Sanchez Lopez</a> et est placée sous licence <a href="https://www.gnu.org/licenses/gpl.html">GNU/GPL</a>.</p>
</div>
