<div class="well">
    <h1>Framapad</h1>
    <p>Framapad est animé par le logiciel libre <a href="http://etherpad.org">Etherpad</a>.<br>
    Le logo de framapad.org est un <a href="https://www.framablog.org/index.php/post/2011/01/20/jolis-pingouins-sami-boulares">pingouins de Sami Boulares</a> sous licence <a href="https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU">GNU GPL</a>.</p>
</div>
